*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* header section */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 2.5rem;
}

nav ul {
    display: flex;
}

li {
    list-style: none;
    margin-right: 30px;
}

 li a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

/* banner-section */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}


.btn-primary{
    background: #FF900E;
    color: #FFF;
    font: 1.25rem;
    padding: 20px 25px;
    border-radius: 8px;
    margin: 20px;
}

/* main section */

.row-our-features{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    
}

.img-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;

}
.quick{
    color:  gray;
}
.features{
    color: #FF900E;
}

/* responsive style for mobile */

@media screen and (max-width: 576px) {

    header, .banner, main{
        padding: 20px;
    }

    nav, .banner{
        flex-direction: column;

    }
    .banner-title{
        font-size: 2rem;
    }
    .row-our-features, .img-box{
        grid-template-columns: 1fr;
    }
}

/* responsive for medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {

    header, .banner, main {
       
        padding: 20px;
    }

    nav, .banner{
        flex-direction: column;

    }
    .banner-title{
        font-size: 2rem;
    }
   .row-our-features{
    grid-template-columns: 1fr;
   }
   .img-box{
    grid-template-columns: repeat(2,1fr);
    
   }
   .img-box img {
    width: 90%;
   }

}